:where(*) {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
} 


img:last-child {
    display: none;
}


section.illustration {
    width: 100%;
    
}


form {
        display: flex;
        flex-direction: column;
    }


.section-right {
    padding: 1.5em;
}

h1 {
    font-size: 39px;
    margin-bottom: 1em;
}

input[type="submit"] {
    border: 1px solid black;
    padding: 1.25em 3.75em;
    border-radius: 0.3em;
    background-color: #25262c;
    color: aliceblue;
    margin: 1em 0;
    text-align: center;
    max-width: 27.8em;
}


input[type="submit"]:hover {
    background: linear-gradient(to left,orangered, orange);
    
}

input[type="email"] {
    padding: 1.25em 4.4em;
    border: 1px solid lightsteelblue;
    border-radius: 0.3em;
    margin: 0.3em 0;
    max-width: 18.7em;
}

input[type="email"]:invalid {
    color: red;
    text-shadow: 0 1px 5px orangered;
    outline: 1px solid red;
}


label {
    margin: 0.3em 0;
}



li {
    list-style-image: url("images/icon-list.svg");list-style-position: outside;
    list-style-type: none;
    padding: 0.6em 0;
}

ul {
    padding-inline-start: 1.6em;
    margin: 1em 0;
}

/* media запросы */
@media(min-width: 48em) {
    body {
        background-color: #412841;
    }

    div.section-left {

        padding: 1.5em;
    }

    

    img:first-child {
        display: none;
    }
    
    img:last-child {
        display: inline;
        height: 25em;
    }
    
    main.container {
        margin: 3em auto;
        display: flex;
        flex-direction: row-reverse;
        width: 70%;
        background-color: aliceblue;
        border-radius: 1.2em;
        min-width: 50em;
    }

    .content, .form {
        margin-inline: auto;
        width: 25em;
    }
}
